/* style.css do Header */
.section-header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #A4E5C6; /* Cor de fundo */
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 36px;
  font-weight: bold;
  color: #6c5b7b; /* Cor do texto */
}

.checklist {
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto; /* Centraliza horizontalmente */
  color: #6c5b7b; /* Cor do texto */
}

.icon {
  color: #f67280; /* Cor do ícone */
  font-size: 34px;
}

