/* style.css do Checklist */

.checklist-container {
  margin: 1rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #A4E5C6; /* Nova cor de fundo */
  border-radius: 10px;
  
}




.checklist-container h1 {
  padding: 10px;
  border: 1px solid #333; /* Adicionando uma borda sólida com 2px de largura */
  border-radius: 10px; /* Aqui está o raio da borda */
  color: #f67280;
}


.form-container {
 
  width: 100%;
  max-width: 50%;
 
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    max-width: 90%;
  }
}

.items-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



.section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background-color: #e29a9f; /* Cor de fundo */
}

.section h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1f1f1f ;

}

.item-list {
  
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  background-color: #e29a9f; /* Cor de fundo */
}

.item {
  
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: #cfcfcf; /* Cor de fundo padrão */
  border: 2px solid transparent; /* Borda transparente por padrão */
  border-radius: 8px;
  padding: 10px;
  position: relative; /* Permite posicionar o indicador de cor */
}

.item .color-indicator {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  border-radius: 50%;
  position: absolute;
  left: +120px; /* Posição à esquerda do item */
  top: 50%; /* Alinhamento verticalmente */
  transform: translateY(-50%);
}

.item:hover .color-indicator {
  display: block; /* Mostra o indicador de cor no hover */
  border: 2px rgb(0, 0, 0);
  margin-left: 35px;
}

.color-indicator {
  border: 2px red;
  display: none; /* Oculta o indicador de cor por padrão */
}



.item:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
  
  
}


.item span {
  margin-left: 8px;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

label {
  
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
select {
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}

.add-button {
  padding: 12px 24px;
  background-color: #e29a9f; /* Cor de fundo */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color:#333;/* Cor de fundo ao passar o mouse */
  transform: translateY(-5px);
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-icon{
  cursor: pointer;
  margin-left: 10px;
}

.edit-icon:hover {
  color:#55277d;
  
  cursor: pointer;
}


.check-box {
  
  opacity: 0.7;
  cursor: pointer;
}

.delete-icon{
  
  margin-left: auto;
}

input[type="checkbox"] {
  /* Aumenta o tamanho do checkbox */
  width: 20px;
  height: 20px;
}

.color-indicator {
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  
} 

.checklist-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.playlist-button {
  margin-left: 40px;
  padding: 16px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Aqui está o raio da borda */
  transition: background-color 0.3s ease; /* Adicionando transição para suavizar a mudança de cor */
}

.playlist-button:hover {
  background-color:#f67280; /* Mudando a cor de fundo ao passar o mouse sobre o botão */
  transform: translateY(-5px);
}


.playlistt{

  display: inline-block;
  vertical-align: top;
}
.playlist-container {
  display: inline-block;
  width: 450px; /* Defina a largura desejada aqui */
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .playlist-container{
    width: 300px;
    
    
  }
}


/* Estilos adicionais conforme necessário */
