/* style.css do Checklist */

.checklist-container {
  margin: 1rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #A4E5C6; /* Nova cor de fundo */
  border-radius: 20px;
}

.checklist-container h1 {
  color: #f67280;;
}

.form-container {
 
  width: 100%;
  max-width: 50%;
 
}

.items-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



.section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background-color: #6c5b7b; /* Cor de fundo */
}

.section h2{
  font-size: 2rem;
  margin-bottom: 20px;

}

.item-list {
  
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  background-color: #6c5b7b; /* Cor de fundo */
}

.item {
  font-family: Roboto;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  background-color: #cecece; /* Cor de fundo padrão */
  border: 2px solid transparent; /* Borda transparente por padrão */
  border-radius: 9px;
  padding: 12px;
  position: relative; /* Permite posicionar o indicador de cor */
}

.item .color-indicator {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  border-radius: 50%;
  position: absolute;
  left: -22px; /* Posição à esquerda do item */
  top: 50%; /* Alinhamento verticalmente */
  transform: translateY(-50%);
}

.item:hover .color-indicator {
  display: block; /* Mostra o indicador de cor no hover */
}

.color-indicator {
  display: none; /* Oculta o indicador de cor por padrão */
}



.item:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */

  
}


.item span {
  margin-left: 8px;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}

label {
  
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
select {
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}

.add-button {
  padding: 12px 24px;
  background-color: #6c5b7b; /* Cor de fundo */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #355c7d; /* Cor de fundo ao passar o mouse */
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.check-box {
  
  opacity: 0.7;
  cursor: pointer;
}

.delete-icon{
  
  margin-left: auto;
}

input[type="checkbox"] {
  /* Aumenta o tamanho do checkbox */
  width: 20px;
  height: 20px;
}

.color-indicator {
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
} 